<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:ump_aspect.properties</value>
            </list>
        </property>
        <!-- 配置文件中文乱码-->
        <property name="fileEncoding" value="UTF-8"/>
    </bean>

    <bean id="loggableService" class="com.rd.common.test.service.LoggableService"/>

    <!--<import resource="classpath:spring-rd-config.xml"/>-->
</beans>